@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/**{*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    */
/*}*/

body{
    font-family: 'Muli', sans-serif;
    color: #222;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #f6f7fb;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
}
.about-header{
    height:100vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-top: 20px;

}


/*Navigation*/
.nav{
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right:0;
    transition: all 0.3s ease-in-out;

}
.nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav.active a{
    color: #000;
}
.nav.active .nav-container{
    padding: 0px 0;

}
.nav a.current, .nav a:hover{
    color: lightblue;
    font-weight: bold;
}

/*FAQ Section*/
.faq-body{
    /*background-color: #f0f0f0;*/
}
.faq-h1{
    margin: 50px 0 30px;
    text-align: center;
}
.faq-container{
    max-width: 600px;
    margin: 0 auto;
}
.faq{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active{
    background-color: #fff;
    box-shadow:0 3px 6px rgba(0,0,0,0.1),
    0 3px 6px rgba(0,0,0,0.1)
}
.faq.active::before, .faq.active::after{
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;

}
.faq.active::before{
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}
.faq-title{
    margin: 0 35px 0 0;
}
.faq-text{
    display: none;
    margin:30px 0 0;
}
.faq.active .faq-text{
    display: block;
}
.faq-toggle{
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus{
    outline: none;
}

.faq-toggle .fa-times{
    display: none;
}
.faq.active .faq-toggle .fa-times{
    color: #fff;
    display: block;
}
.faq.active .faq-toggle .fa-chevron-down{
    display: none;
}
.faq.active .faq-toggle{
    background-color: #9fa4a8;

}