@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/**{*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    */
/*}*/

body, html {
    font-family: 'Muli', sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Section 1 */
.hero {
    background-image: url('../images/background_images/Homepage_background.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
}

.hero .container {
    width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 22%; 
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero h1 {
    font-size: 48px;
    margin: 0px;
}

.hero span {
    font-style: italic;
    color: #D3E723;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    margin: 15px 0px 25px 0px;
    color: #E0E0E0;
}

.hero button {
    font-family: 'Muli', sans-serif;
    background-color: #D3E723;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
}

/* Section 2 */
.content {
    max-width: 1200px;
    margin: 0px auto;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 50px auto 0px auto;
}

.content h3 {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 25px;
}

.row1, .row2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin: auto;
    max-width: 95vw;
}

.row1 .block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    color: black;
    max-width: 95vw;
    height: 335px;
    border-radius: 10px;
    background-size: cover;
    transition: all 0.7s ease-in; /*TODO: doesn't work*/
}

.row1 img {
    max-width: 90%;
    max-height: 100%;
    height: auto;
}

.listings {
    margin-bottom: 125px;
}

.row2 .block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: gray;
    color: black;
    width: 187.5px;
    height: 230px;
    border-radius: 10px;
}

.listings button {
    font-family: 'Muli', sans-serif;
    background-color: #D3E723;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
    float: right;
    position: relative;
}



/*Nav bar:*/
.nav {
    position: fixed;
    background-color: #0C111D;
    top: 0;
    left: 0;
    right:0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
    max-width: 1230px;
    margin: 0px auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
.nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav.active a {
    color: #000;
}
.nav.active .nav-container {
    padding: 0px 0;

}
.nav a.current, .nav a:hover {
    color: lightblue;
    font-weight: bold;
}

/* Footer */
footer {
    height: auto;
    margin-top: 100px;
    width: 100vw;
    right: 0;
    background-color: #0C111D;
    color: white;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Links and Info */
.links-and-info {
    text-align: center;
    width: 20vw;
    padding: 20px;
    margin: 20px;
}

.nav-links {
    margin-bottom: 70px;
}


/*Contact Us container */
.contact-us-container {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 3
}

.contact-us-h1 {
    margin-bottom: 20px;
    color: #333;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    color: black;
}

.contact-us-form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"],
.contact-us-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

.contact-us-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-us-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-us-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Expanding Cards */
.expanding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 0 auto;

}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3 {
    font-size: 36px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.3s;
}